/* Write your CSS here */
.table-row {
  display: flex;
  list-style-type: none;
  border-left: 1px solid #cbd5e1;
  border-bottom: 1px solid #cbd5e1;
  border-right: 1px solid #cbd5e1;
}
.table-cell {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 16px;
  margin-left: 32px;
  display: flex;
  align-items: center;
}
.title-column {
  width: 33%;
  margin-right: 32px;
}
.separator {
}
.amount-column {
  flex-grow: 1;
  margin-right: 32px;
}
.amount {
  flex-grow: 1;
}
.separator {
  margin: 0;
  border: 1px solid #cbd5e1;
}
.type {
  flex-grow: 1;
}
.delete-icon-container {
  background-color: transparent;
  color: #7e858e;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}
.delete-icon {
  height: 20px;
  width: 20px;
}
